<a href="https://colab.research.google.com/github/34-anish/Python/blob/main/2_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

In [2]:
countryCapital = {
    'Nepal': 'Kathmandu',
    'China': 'Bejing'
}

In [4]:
# Accessing the capital
print(countryCapital['China'])
print(countryCapital.keys(), countryCapital.values(), countryCapital.items())

Bejing
dict_keys(['Nepal', 'China']) dict_values(['Kathmandu', 'Bejing']) dict_items([('Nepal', 'Kathmandu'), ('China', 'Bejing')])

# Looping in Dictionary

.items() is frequently used for looping

In [6]:
for country, capital in countryCapital.items():
    print(f"{country}'s capital is : {capital}")

Nepal's capital is : Kathmandu
China's capital is : Bejing

## Adding & Deleting element

In [9]:
# To add and remove key value pair
countryCapital['India'] = 'New Delhi'

In [10]:
countryCapital

{'Nepal': 'Kathmandu', 'China': 'Bejing', 'India': 'New Delhi'}

In [12]:
del countryCapital['Nepal']

In [14]:
countryCapital

{'China': 'Bejing', 'India': 'New Delhi'}

# Searching

**in** operator is used checking

In [15]:
'China' in countryCapital

True

# Explaning more

## Copying Dictionary
*Be Careful*

In [20]:
# countryDescription = dict('name' ='Nepal', age = 500) # an error
countryDescription = dict(name='Nepal', age=500)
countryDescription = countryCapital
print(countryDescription, countryCapital)
countryDescription['Nepal'] = 'Kathmandu'
print(countryDescription, countryCapital)
countryCapital['UK'] = 'London'
print(countryDescription, countryCapital)

{'China': 'Bejing', 'India': 'New Delhi', 'Nepal': 'Kathmandu'} {'China': 'Bejing', 'India': 'New Delhi', 'Nepal': 'Kathmandu'}
{'China': 'Bejing', 'India': 'New Delhi', 'Nepal': 'Kathmandu'} {'China': 'Bejing', 'India': 'New Delhi', 'Nepal': 'Kathmandu'}
{'China': 'Bejing', 'India': 'New Delhi', 'Nepal': 'Kathmandu', 'UK': 'London'} {'China': 'Bejing', 'India': 'New Delhi', 'Nepal': 'Kathmandu', 'UK': 'London'}

In [21]:
copiedCountry = countryCapital.copy()
copiedCountry

{'China': 'Bejing', 'India': 'New Delhi', 'Nepal': 'Kathmandu', 'UK': 'London'}

In [22]:
# Deleting
del countryCapital['UK']
copiedCountry, countryCapital

({'China': 'Bejing',
  'India': 'New Delhi',
  'Nepal': 'Kathmandu',
  'UK': 'London'},
 {'China': 'Bejing', 'India': 'New Delhi', 'Nepal': 'Kathmandu'})

# Mutability

In [23]:
countryCapital['Nepal'] = ' Bharatpur'

In [24]:
countryCapital

{'China': 'Bejing', 'India': 'New Delhi', 'Nepal': ' Bharatpur'}

# Others

`rams_dict = dict(name="Ram",'age' = 24)` is an error  as of `'age'`

In [9]:
alans_dict = {'name':'Alan','age':22}
rams_dict = dict(name="Ram",age = 24)
alans_dict,alans_dict['age'],rams_dict

({'name': 'Alan', 'age': 22}, 22, {'name': 'Ram', 'age': 24})

In [ ]:
# rams_dict = dictionary(name="Ram",age = 24) # Wrong Keyword

In [11]:
gunda = alans_dict['name']
gunda

'Alan'

In [12]:
alans_dict['name'] = 'Aladin'
alans_dict

{'name': 'Aladin', 'age': 22}

In [13]:
del alans_dict

In [15]:
aladins_dict = rams_dict
aladins_dict['marks'] = 40
aladins_dict,rams_dict

({'name': 'Ram', 'age': 24, 'marks': 40},
 {'name': 'Ram', 'age': 24, 'marks': 40})

In [17]:
aladins_marks = aladins_dict.popitem()

In [18]:
aladins_marks,aladins_dict,rams_dict

(('marks', 40), {'name': 'Ram', 'age': 24}, {'name': 'Ram', 'age': 24})

In [19]:
if 'name' in rams_dict:
    print(rams_dict['name'])

Ram

Looping

```
for item ,values in rams_dict:
    print(item,values)
```
is an error

In [23]:
for item in rams_dict:
    print(item)

name
age

In [24]:
for item in rams_dict.keys():
    print(item)

name
age

In [25]:
for value in rams_dict.values():
    print(value)

Ram
24

In [27]:

for (item,value) in rams_dict.items():
    print(item)

name
age

In [28]:

for key_value_tuple in rams_dict.items():
    print(key_value_tuple)

('name', 'Ram')
('age', 24)

In [29]:
copied_dict = rams_dict.copy()
name = copied_dict.pop('name')
name,copied_dict,rams_dict

('Ram', {'age': 24}, {'name': 'Ram', 'age': 24})

Key in Dictionary can only be iterable

In [33]:
# sum_dict['name'] # Keyvalue pair error

KeyError: 'name'

In [32]:
# my_list = [8,7]
# sum_list_dict = {my_list : 15} # Key cant be mutable

TypeError: unhashable type: 'list'