<a href="https://colab.research.google.com/github/34-anish/Python/blob/main/2_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary and Tuple

In [1]:
capital ={
    'Nepal':'Kathmandu',
    'China':'Bejing'
}

In [2]:
capital.keys()

dict_keys(['Nepal', 'China'])

In [3]:
capital.values()

dict_values(['Kathmandu', 'Bejing'])

In [4]:
capital.items()

dict_items([('Nepal', 'Kathmandu'), ('China', 'Bejing')])

.items() is frequently used for looping

In [45]:
for country , capital_city in capital.items():
  print(country,"=>",capital_city)

Nepal => Kathmandu
China => Bejing

Dictionary stores key-value pairs

#To add and remove key value pair

In [46]:
capital['India'] = 'New Delhi'

In [47]:
capital

{'China': 'Bejing', 'India': 'New Delhi', 'Nepal': 'Kathmandu'}

In [48]:
del capital['Nepal']

In [49]:
capital

{'China': 'Bejing', 'India': 'New Delhi'}

**in** operator is used checking

In [50]:
'Nepal' in capital

False

In [51]:
'India' in capital

True

# Explaning more

`rams_dict = dict(name="Ram",'age' = 24)` is an error

In [9]:
alans_dict = {'name':'Alan','age':22}
rams_dict = dict(name="Ram",age = 24)
alans_dict,alans_dict['age'],rams_dict

({'name': 'Alan', 'age': 22}, 22, {'name': 'Ram', 'age': 24})

In [ ]:
# rams_dict = dictionary(name="Ram",age = 24) # Wrong Keyword

In [11]:
gunda = alans_dict['name']
gunda

'Alan'

In [12]:
alans_dict['name'] = 'Aladin'
alans_dict

{'name': 'Aladin', 'age': 22}

In [13]:
del alans_dict

In [15]:
aladins_dict = rams_dict
aladins_dict['marks'] = 40
aladins_dict,rams_dict

({'name': 'Ram', 'age': 24, 'marks': 40},
 {'name': 'Ram', 'age': 24, 'marks': 40})

In [17]:
aladins_marks = aladins_dict.popitem()

In [18]:
aladins_marks,aladins_dict,rams_dict

(('marks', 40), {'name': 'Ram', 'age': 24}, {'name': 'Ram', 'age': 24})

In [19]:
if 'name' in rams_dict:
    print(rams_dict['name'])

Ram

Looping

```
for item ,values in rams_dict:
    print(item,values)
```
is an error

In [23]:
for item in rams_dict:
    print(item)

name
age

In [24]:
for item in rams_dict.keys():
    print(item)

name
age

In [25]:
for value in rams_dict.values():
    print(value)

Ram
24

In [27]:

for (item,value) in rams_dict.items():
    print(item)

name
age

In [28]:

for key_value_tuple in rams_dict.items():
    print(key_value_tuple)

('name', 'Ram')
('age', 24)

In [29]:
copied_dict = rams_dict.copy()
name = copied_dict.pop('name')
name,copied_dict,rams_dict

('Ram', {'age': 24}, {'name': 'Ram', 'age': 24})

Key in Dictionary can only be immutable

In [31]:
my_tuple = (8,7)
sum_dict = {my_tuple : 15}
sum_dict

{(8, 7): 15}

In [33]:
# sum_dict['name'] # Keyvalue pair error

KeyError: 'name'

In [32]:
# my_list = [8,7]
# sum_list_dict = {my_list : 15} # Key cant be mutable

TypeError: unhashable type: 'list'