Tuple is represented with () but is optional

In [3]:
tuple_1 = ("Anish",24,True)
tuple_2 = "Anish" , 24, True
type(tuple_2),tuple_1 == tuple_2

(tuple, True)

In [6]:
tuple_3 = (True)
tuple_3,type(tuple_3)

(True, bool)

In [7]:
tuple_4 = (True,)
tuple_4,type(tuple_4)

((True,), tuple)

has no `append() , pop() , insert()` and is immutable

In [10]:
# tuple_4[0]=False
# tuple_4

and allows duplicate element

In [11]:
tuple_4 = (True,True)
tuple_4

(True, True)

Once set you cannot change it so thatswhy the operations are limited

In [13]:
tuple_4.count(True),tuple_4.index(True)

(2, 0)

In [15]:
tuple_2

('Anish', 24, True)

Unpacking

In [16]:
name,age,gender = tuple_2
name,age,gender

('Anish', 24, True)

`* Operator `

In [17]:
tuple_5 = (0,1,2,3,4,)
first_element , *middle_element , last_elemenet = tuple_5
first_element , middle_element , last_elemenet

(0, [1, 2, 3], 4)

In [20]:
tuple_5[::3] , tuple_5[::-2]

((0, 3), (4, 2, 0))

In [27]:
list_1 =['0','1','2','3','4']
first_element,*second_element,last_element = list_1

In [28]:
first_element,second_element,last_elemenet

('0', ['1', '2', '3'], 4)

In [32]:
*few_elements , second_last_element,last_element = list_1
few_elements , second_last_element,last_element

(['0', '1', '2'], '3', '4')

In [29]:
del tuple_5

In [30]:
tuple_5

NameError: name 'tuple_5' is not defined

In [31]:

tuple_5 = list (tuple_4)
tuple_5

[True, True]