# LIST

List is ordered mutable and duplicates are allowed

In [28]:
fruits_list = ['apple',"bannan"]
print(fruits_list[0])
print('Appending')
fruits_list.append('strawberry')
print(fruits_list)

print("Mutablity in List")
fruits_list[1] = "bannana"
print(fruits_list)
copied_list = fruits_list
copied_list.insert(1,'mango')
print(f'Original List: {fruits_list}, Copied List: {copied_list}')

print("Copy")
new_list = fruits_list.copy()
new_list.pop()
print(f'Original List: {fruits_list}, Copied List: {new_list}')

apple
Appending
['apple', 'bannan', 'strawberry']
Mutablity in List
['apple', 'bannana', 'strawberry']
Original List: ['apple', 'mango', 'bannana', 'strawberry'], Copied List: ['apple', 'mango', 'bannana', 'strawberry']
Copy
Original List: ['apple', 'mango', 'bannana', 'strawberry'], Copied List: ['apple', 'mango', 'bannana']

In [29]:

print(fruits_list)
trial_list = fruits_list.pop()
print(trial_list,fruits_list)
appended_list = fruits_list.append('blueberry')
print(appended_list,fruits_list)

['apple', 'mango', 'bannana', 'strawberry']
strawberry ['apple', 'mango', 'bannana']
None ['apple', 'mango', 'bannana', 'blueberry']

In [31]:
type(appended_list)

NoneType

Iterating

In [5]:
for fruit in fruits_list:
    print(fruit)

#Condition Checking
if 'mango' in copied_list:
    print("Mango is in List")
if 'pineapple' not in copied_list:
    print("Pineapple is not in List")

apple
mango
bannana
strawberry
Mango is in List
Pineapple is not in List

List Comprehension

In [6]:
a = [1,2,3,4]
b = [i**3 for i in a]
b

[1, 8, 27, 64]

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [8]:
fruits_a = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist_a = [x for x in fruits if "a" in x]

print(newlist_a)

['apple', 'banana', 'mango']

```newlist = [expression for item in iterable if condition == True]```

In [9]:
newlist = [x for x in fruits if x != "apple"]
newlist

['banana', 'cherry', 'kiwi', 'mango']

In [10]:
newlist = [x for x in fruits]
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [11]:
# convert string to list
string_to_list = list('Hello')
print(string_to_list)

['H', 'e', 'l', 'l', 'o']

In [12]:
string_to_list.clear()
string_to_list

[]

Questions: https://youtu.be/IpfE8qKtkCk?list=PLBlnK6fEyqRjSgal6OIEfzK4upXvkHSxW

In [ ]:
# List can have duplicate items

In [15]:
list_test = [1,2,3,4]
# print(list_test[4]) # Error
print(list_test[-4])

1

In [18]:
number = input("Enter a number")
# number + 10 # is an error as the input() can hold the string

TypeError: can only concatenate str (not "int") to str

In [35]:
# list_test[0:] = 10
# print(list_test) # Error

TypeError: can only assign an iterable

In [20]:

list_test[0:] = [10]
print(list_test)

[10]

In [23]:
list4= [1,2,'Andy' ,' is','great']
# 'Andy is '+ list4[0] # is an error as cant concatenate str and int
print('Andy is '+ list4[4])
print('Andy is '+ list4.pop())

Andy is great
Andy is great