<a href="https://colab.research.google.com/github/34-anish/Python/blob/master/MATH208.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import scipy
from scipy.stats import f
from scipy.stats import chi2
import math

#For S

In [3]:
sample = np.array([8.8,8.8,12.5,12.2,5.4,13.3,12.8,6.9,9.1,2.2,14.7])
sample_square=sample*sample

In [8]:
sample.sum()

106.7

In [4]:
sample.mean()

9.700000000000001

In [5]:
sample_square.sum()

1181.21

In [7]:
d = {'X': sample, 'X^2' : pow(sample,2) }
df = pd.DataFrame(data=d)
df

       X     X^2
0    8.8   77.44
1    8.8   77.44
2   12.5  156.25
3   12.2  148.84
4    5.4   29.16
5   13.3  176.89
6   12.8  163.84
7    6.9   47.61
8    9.1   82.81
9    2.2    4.84
10  14.7  216.09

#Lec 20


#When n1 , n2 is less than 30 and
```
#  variance is common
```

In [9]:
# We use t table
X1 = np.array([59,68,44,71,63,46,69,54,48])
X2 = np.array([50,36,62,52,70,41])
n1 = len(X1)
n2 = len(X2)

In [10]:
d = {'X1': X1, 'X1^2' : pow(X1,2) }
table_X1 = pd.DataFrame(data=d)
table_X1.set_index('X1')

    X1^2
X1
59  3481
68  4624
44  1936
71  5041
63  3969
46  2116
69  4761
54  2916
48  2304

In [11]:
d2 = {'X2': X2, 'X2^2' : pow(X2,2) }
table_X2 = pd.DataFrame(data=d2)
table_X2.set_index('X2')

    X2^2
X2
50  2500
36  1296
62  3844
52  2704
70  4900
41  1681

In [15]:
X1_bar = table_X1['X1'].mean()
X2_bar = table_X2['X2'].mean()

X1_bar,X2_bar

(58.0, 51.833333333333336)

In [12]:
sum_X1 = table_X1['X1'].sum()
sum_X1_square = table_X1['X1^2'].sum()
sum_X2 = table_X2['X2'].sum()
sum_X2_square = table_X2['X2^2'].sum()
sum_X1,sum_X1_square,sum_X2,sum_X2_square

(522, 31148, 311, 16925)

In [19]:
S1_square = (n1/(n1-1))*(sum_X1_square/n1-X1_bar*X1_bar)
S2_square = (n2/(n2-1))*(sum_X2_square/n2-X2_bar*X2_bar)

S1_square,S2_square

(108.99999999999977, 160.9666666666664)

#Lec 21

# Inference on Difference in Means between Two Dependent Samples

In [ ]:
#Paired T-test
before = np.array([45,73,46,124,33,57,83,34,26,17])
after = np.array([36,60,44,119,35,51,77,29,24,11])
n = len(before)

In [ ]:
d = {'before': before, 'after' : after,'d':before-after,'d^2':pow((before-after),2) }
table_diff= pd.DataFrame(data=d)
table_diff

In [ ]:
sum_d = table_diff['d'].sum()
sum_d_square = table_diff['d^2'].sum()

In [ ]:
d_bar = 1/n*sum_d
S_d_square = (n/(n-1))*(sum_d_square/n-pow((sum_d/n),2))
S_d_square

In [ ]:
#Test Statistic
t_o = d_bar/math.sqrt(S_d_square/n)
t_o

#T_alpha,n-1

In [ ]:
alpha = 0.05/2
n_minus = 14
-scipy.stats.t.ppf(alpha,n_minus)

#Chi Square

In [ ]:
scipy.stats.chi2(0.05, df=6)

# Lec.22

# Inference on ratio of variances of two normal populations

In [ ]:
X1 = np.array([15.8,12.7,13.2,16.9,10.6,18.8,11.1,14.3,17.0,12.5])
n1 = len(X1)
X2 = np.array([24.9,23.6,19.8,22.1,20.4,21.6,21.8,22.5])
n2 = len(X2)

In [ ]:
d = {'X1': X1, 'X1^2' : pow(X1,2) }
table_X1 = pd.DataFrame(data=d)
table_X1.set_index('X1')

In [ ]:
d2 = {'X2': X2, 'X2^2' : pow(X2,2) }
table_X2 = pd.DataFrame(data=d2)
table_X2.set_index('X2')

In [ ]:
sum_X1 = table_X1['X1'].sum()
sum_X1_square = table_X1['X1^2'].sum()
sum_X2 = table_X2['X2'].sum()
sum_X2_square = table_X2['X2^2'].sum()

In [ ]:
sum_X1,sum_X1_square,sum_X2,sum_X2_square

In [ ]:
S1_square = (n1/(n1-1))*(sum_X1_square/n1-pow((sum_X1/n1),2))
S2_square = (n2/(n2-1))*(sum_X2_square/n2-pow((sum_X2/n2),2))

In [ ]:
S1_square,S2_square

In [ ]:
test_statistic = S1_square/S2_square

In [ ]:
test_statistic

In [ ]:
#For - one tailed test
alpha =0.01
right_critical_value = 1/scipy.stats.f.ppf(alpha, n2-1,n1-1)
left_critical_value =  scipy.stats.f.ppf(alpha, n1-1,n2-1)
right_critical_value,left_critical_value

In [ ]:
#For -two tailed test
alpha =0.02
right_critical_value = 1/scipy.stats.f.ppf(alpha/2, n2-1,n1-1)
left_critical_value =  scipy.stats.f.ppf(alpha/2, n1-1,n2-1)
right_critical_value,left_critical_value

#to find F_alpha,n1-1,n2-1

In [ ]:
ALPHA = 0.01 #()
N1_minus1=8
N2_minus1=12

1/scipy.stats.f.ppf(ALPHA,N2_minus1,N1_minus1)